body{
    background-color:#221e20;
    text-align: center;
    font-family:'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
    color: #d8cbd2;
}



.donation-button{
    border-radius: 5px;
    background-color: #71C8E6;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.donation-button, a:link, a:visited{
    text-decoration: none;
    color:inherit;
}
.donation-button, a:hover, a:active{
    text-decoration: none;
}




.media{
    background-color: lightslategrey;
}







.other-associations{
    background-color: white;
    box-shadow:rgba(0,0,0,.5) 1px 2px 5px;
    color: #221E20;
}

.partners-list{
      list-style: none;
 }

.other-associations h2{
      color: #221E20;
}

.partners-item{
    display: inline;
}


.section-titles{
    font-family:'Roboto Slab', serif;
    color: lightblue;
    font-weight: 900;
    font-size: 50;
}

.logos-associations{
    max-height: 90px;
    max-width: 120px;
    
}